<template id="template">

    <style>
	button {
		font-weight:bold;
		width:100px;
		padding: 5px;
		background-color: #3498db;
		color: black;
		border-radius: 28px;
		border: #3498db;
		text-decoration: none;
		border-width: 2px;
	}
	button:active{background-color: orange;}
    </style>
		
	
    <!-- Add HTML for your component here.
    Try adding <content></content> to project from the light DOM -->
    <button><content></content></button>
				

</template>
<script src="../createCustomElement.js"></script>
<script>
	// Left the basePrototype out
	createElement("button-component","template");
	
   
</script>