

<template id="template">



    <style>
ul {
	list-style-type: none;
}
    </style>
	
	
	
	
    <!-- Add HTML for your component here.
    Try adding <content></content> to project from the light DOM -->

	<div class="slider">
		  <a href="###" class="control_next">Go Right</a>
		  <a href="###" class="control_prev">Go Left</a>
		  <ul>
			<li><img src="placeholder.png" class="image" /></li>
			<li><img src="placeholder-gray.png" class="image"/></li>
		  </ul>
	</div>	

</template>

<script>




    var createElement = function(tagName, templateId, basePrototype) {
        basePrototype = basePrototype || HTMLElement.prototype;
        var template = document.currentScript.ownerDocument.getElementById(templateId).content;
        var customElementPrototype = Object.create(basePrototype);
        customElementPrototype.createdCallback = function() {
            var shadowRoot = this.createShadowRoot();
            var clone = document.importNode(template, true);
            shadowRoot.appendChild(clone);

        };
        return document.registerElement(tagName, {
            prototype: customElementPrototype
        });
    };
    // Initialize your component here with the above function!
	
	// Left the basePrototype out
	createElement("slider-component","template");
	
   
</script>