<template id="template">
    <style>
	::content img {
		display: none;
	}
    </style>
		
    <!-- Add HTML for your component here.
    Try adding <content></content> to project from the light DOM -->

	<div class="slider">
		<content select="img"></content>
	</div>	

</template>
<script src="../createCustomElement.js"></script>
<script>

	// Left the basePrototype out
	window.mySlider = createElement("slider-component","template");
	
	// Must have the 'slider-component' so it only selects the images in the slider component
	var images = document.querySelectorAll('slider-component img');
	var counter = 0;
	
	window.setInterval(function() {
		images[counter].style.display = 'none';
		if(counter < images.length -1) {
			counter++;
		} else {
			counter = 0;
		}
		images[counter].style.display = 'block';
	}, 1000);
	
	
   
</script>